In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame([
    {'date': '2020-01-01', 'close': 101},
    {'date': '2020-01-02', 'close': 102},
    {'date': '2020-01-03', 'close': 103},
    {'date': '2020-01-04', 'close': 104},
    {'date': '2020-01-05', 'close': 105}
])

In [4]:
df.shift(-1)

         date  close
0  2020-01-02  102.0
1  2020-01-03  103.0
2  2020-01-04  104.0
3  2020-01-05  105.0
4         NaN    NaN